:root {
  --light-background-color: #c6c6c6;
  --dark-background-color: black;
}

.game {
  justify-content: center;
  align-items: center;
  user-select: none;
  gap: 50px;
}

.game-title {
  margin-top: 70px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

.game-container {
  padding: 7px;
  background-color: var(--light-background-color);
}

.outset-border {
  border: 3px outset white;
}

.inset-border {
  border: 4px inset white;
}

/* Control panel */
.control-panel {
  background-color: var(--light-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.control-panel .counter {
  width: auto;
  height: auto;
  background-color: var(--dark-background-color);
  display: flex;
  padding: 2px;
}

/* Horizontal sprite */
.counter .digit {
  width: 16px;
  height: 30px;
  background-image: url("../img/game/counter/digits-sprite-horizontal.png");
  background-size: auto 30px;
  margin-right: 2px;
  background-position-y: 0;
}

.counter .digit:last-child {
  margin-right: 0;
}

.digit.digit-0 {
  background-position-x: -0px;
}

.digit.digit-1 {
  background-position-x: -16px;
}

.digit.digit-2 {
  background-position-x: -32px;
}

.digit.digit-3 {
  background-position-x: -48px;
}

.digit.digit-4 {
  background-position-x: -63px;
}

.digit.digit-5 {
  background-position-x: -79px;
}

.digit.digit-6 {
  background-position-x: -94px;
}

.digit.digit-7 {
  background-position-x: -111px;
}

.digit.digit-8 {
  background-position-x: -126px;
}

.digit.digit-9 {
  background-position-x: -141px;
}

.control-panel .reset-btn {
  background-color: var(--light-background-color);
  border: 3px outset white;
}

.reset-btn .button {
  width: 28px;
  height: 28px;
  background-image: url("../img/game/face.png");
  background-size: auto 24px;
  background-position-y: 2px;
  background-repeat: no-repeat;
}

.reset-btn-pressed {
  border: 2px inset white;
  border-top: 4px solid #ababab;
  border-left: 4px solid #ababab;
  width: 34px;
  height: 34px;
  background-image: url("../img/game/face.png");
  background-size: auto 24px;
  background-position-y: 2px;
  background-repeat: no-repeat;
}

.button.btn-smile-face {
  background-position-x: 0px;
}

.button.btn-lose-face {
  background-position-x: -28px;
}

.inset-border-sm {
  border: 3px inset white;
}

.hide {
  display: none;
}

.segment {
  background-color: var(--light-background-color);
  height: 6px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 24px;
  height: 24px;
  background-color: var(--light-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NotoSansMono", sans-serif;
  font-size: larger;
  border: 3px outset white;
}

[data-cell-value],
.cell-pressed {
  border: 0 solid #ababab;
  border-top-width: 2px;
  border-left-width: 2px;
}

[data-cell-value="1"]::after {
  content: "1";
  color: blue;
}

[data-cell-value="2"]::after {
  content: "2";
  color: green;
}

[data-cell-value="3"]::after {
  content: "3";
  color: red;
}

[data-cell-value="4"]::after {
  content: "4";
  color: darkblue;
}

[data-cell-value="5"]::after {
  content: "5";
  color: maroon;
}

[data-cell-value="6"]::after {
  content: "6";
  color: teal;
}

[data-cell-value="7"]::after {
  content: "7";
  color: black;
}

[data-cell-value="8"]::after {
  content: "8";
  color: gray;
}

[data-cell-value="mine1"] {
  background-image: url("../img/game/mine.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

[data-cell-value="exploded"] {
  background-color: red;
  background-image: url("../img/game/mine.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

[data-cell-value="flagged"] {
  border: 3px outset white;
  background-image: url("../img/game/flag.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: center;
}

.img {
  display: flex;
  justify-content: center;
}
