.text-center {
    margin-top: 100px;
    text-align: center;
}

.outside-border {
    border: 5px solid rgb(236, 236, 236);
    display: inline-flex;
    border-style: outset;
} 

.board {
  border: 8px solid #c6c6c6;
}

.internal-board {
  border: 5px solid rgb(238, 238, 238);
  border-style: inset;
  display: flex;
  flex-direction: column;
} 

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 24px;
  height: 24px;
  background-color: #c6c6c6;
  border: 4px solid whitesmoke;
  border-style: outset;
}
